<mat-card>
    <mat-card-content class="p-3">
        <div fxLayout="row" fxLayoutAlign="space-between center">

            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
                <mat-form-field>
                    <input matInput type="text" placeholder="Filter Identification Number" [(ngModel)]="filterPoeple"
                        name="filter" (ngModelChange)="SearchPerson()">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <ngx-datatable class="material" [columnMode]="3" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                [limit]="10" [rows]="PeobleArray">

                <ngx-datatable-column name="Identification Number" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.IdentificationNumber }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Full Name" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ row?.FirstName +' '+ row?.LastName +' '+ row?.FirstSurName+' '+ row?.LastSurName }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Number Contact" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.NumberContact }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Email" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.Email }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Bitth" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.Bitth | date:'MM-d-yyyy' }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Sure" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.Sure | currency}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="UpdatePerson(row)"
                            name="edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button mat-sm-button color="warn" class="mr-1" (click)="deleteUser(row?.ID)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </mat-card-content>
</mat-card>