<form [formGroup]="EditPerson" (ngSubmit)="editPerson()" class="signup-form" fxLayout="column" fxLayoutAlign="start">
    <!-- headline -->
    <!-- <div class="form-headline text-center mb-16">
            <h1 class="font-weight-bold">Lets get started!</h1>
            <p class="text-muted">Create new record</p>
        </div> -->
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Identification number</mat-label>
        <input matInput type="number" name="Identification_number" placeholder="Identification number"
            formControlName="IdentificationNumber" />
    </mat-form-field>
    <div fxLayout="row wrap" fxLayoutGap.md="16px" fxLayoutGap.lg="16px">
        <mat-form-field fxFlex="1 1 0%" appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput type="text" name="first_name" placeholder="First name" formControlName="FirstName" />
        </mat-form-field>
        <mat-form-field fxFlex="1 1 0%" appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput type="text" name="Last_name" placeholder="Last name" formControlName="LastName" />
        </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap.md="16px" fxLayoutGap.lg="16px">
        <mat-form-field fxFlex="1 1 0%" appearance="outline">
            <mat-label>First surname</mat-label>
            <input matInput type="text" name="first_surname" placeholder="First surname"
                formControlName="FirstSurName" />
        </mat-form-field>
        <mat-form-field fxFlex="1 1 0%" appearance="outline">
            <mat-label>Last surname</mat-label>
            <input matInput type="text" name="Last_surname" placeholder="Last surname" formControlName="LastSurName" />
        </mat-form-field>
    </div>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Number contact</mat-label>
        <input matInput type="text" name="Number_contact" placeholder="Number contact"
            formControlName="NumberContact" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" placeholder="Email" formControlName="Email" />
    </mat-form-field>

    <div fxLayout="row wrap" fxLayoutGap.md="16px" fxLayoutGap.lg="16px">
        <mat-form-field appearance="fill">
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="Bitth" name="birth">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 0%" appearance="outline">
            <mat-label>Sure</mat-label>
            <input matInput type="number" name="Sure" placeholder="Sure" formControlName="Sure" />
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="EditPerson.invalid"
        name="editPerson">Edit</button>
</form>