<div class="seciton-left">
</div>
<div class="form-holder height-100vh mat-elevation-z4" [perfectScrollbar]="{}">
    <form [formGroup]="PersonForm" (ngSubmit)="onSubmit()" class="signup-form" fxLayout="column" fxLayoutAlign="start">
        <!-- headline -->
        <div class="form-headline text-center mb-16">
            <h1 class="font-weight-bold">Lets get started!</h1>
            <p class="text-muted">Create new record</p>
        </div>
        <div class="mb-32" fxLayout="row wrap" fxLayoutAlign="center center">
            <img width="200px" src="assets/images/illustrations/posting_photo.svg" alt="">
        </div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Identification number</mat-label>
            <input matInput type="number" name="Identification_number" placeholder="Identification number"
                formControlName="IdentificationNumber" />
        </mat-form-field>
        <div fxLayout="row wrap" fxLayoutGap.md="16px" fxLayoutGap.lg="16px">
            <mat-form-field fxFlex="1 1 0%" appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput type="text" name="first_name" placeholder="First name" formControlName="FirstName" />
            </mat-form-field>
            <mat-form-field fxFlex="1 1 0%" appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput type="text" name="Last_name" placeholder="Last name" formControlName="LastName" />
            </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutGap.md="16px" fxLayoutGap.lg="16px">
            <mat-form-field fxFlex="1 1 0%" appearance="outline">
                <mat-label>First surname</mat-label>
                <input matInput type="text" name="first_surname" placeholder="First surname"
                    formControlName="FirstSurName" />
            </mat-form-field>
            <mat-form-field fxFlex="1 1 0%" appearance="outline">
                <mat-label>Last surname</mat-label>
                <input matInput type="text" name="Last_surname" placeholder="Last surname"
                    formControlName="LastSurName" />
            </mat-form-field>
        </div>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Number contact</mat-label>
            <input matInput type="text" name="Number_contact" placeholder="Number contact"
                formControlName="NumberContact" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" placeholder="Email" formControlName="Email" />
        </mat-form-field>

        <div fxLayout="row wrap" fxLayoutGap.md="16px" fxLayoutGap.lg="16px">
            <mat-form-field appearance="fill">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="Bitth" name="birth">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 0%" appearance="outline">
                <mat-label>Sure</mat-label>
                <input matInput type="number" name="Sure" placeholder="Sure" formControlName="Sure" />
            </mat-form-field>
        </div>

        <!-- <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" placeholder="********" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" name="confirm_password" placeholder="********" />
            <mat-error>
                Password didn't match
            </mat-error>
        </mat-form-field> -->

        <button mat-raised-button color="primary" type="submit" [disabled]="PersonForm.invalid"
            name="save">Save</button>
        <mat-divider class="my-32"></mat-divider>
    </form>
</div>